<div id="content">
		<div id="contentBox">
			<div id="contentBoxContainer">

        <h1 class="caption">CONTACT</h1>
        <div class="divider"></div>
        <img src="assets/images/contact.png" width="600" height="350" />
        <div class="c1of2">
        <h4>GET IN TOUCH</h4>
        <div class="divider" style="height:13px"></div>
        For everything from modern art to business etiquette, from cuisine to technology, BON is your best guide for all things business, culture and lifestyle from China.
        </div>
        <div class="c1of2_end">
          <h4>CONTACT INFORMATIONS</h4>
          <hr class="seperatorBold" style="margin-top:17px"/>
          <div class="divider" style="height:3px"></div>
          
          <!-- BEGIN: Content Informations -->
          <div class="list_two">
            <div class="item_two_one">ADDRESS</div>
            <div class="item_two_two">The BON Building CN16, Legend Town
No.1 East Balizhuang Chaoyang District Beijing,100025,China</div>
            
            <div class="item_two_one">TEL</div>
            <div class="item_two_two">+86 10 5227 0888</div>
            
            <div class="item_two_one">FAX</div>
            <div class="item_two_two">+86 10 5227 0999</div>
            
            <div class="item_two_one">EMAIL</div>
            <div class="item_two_two"><a class="nolink" href="mailto:bon@bon.tv" >bon@bon.tv</a></div>
          </div>
          <!-- END: Content Informations -->
        </div>

        <hr class="seperator" />
        <div class="clearfix"></div>
    </div>
  </div>
</div>
