
    
    <li *ngFor="let item of tvcates; let i=index" id="menu-item-2{{i+1}}">
      <a href="/{{item.slug}}" ><span class="title">{{item.name | uppercase}}</span></a>
    <li>

<!--<li id="menu-item-25"><a href="/"><span class="title">COMPANY</span></a></li>
<li id="menu-item-26"><a href="/"><span class="title">4 COLUMNS</span></a></li>
<li id="menu-item-27"><a href="/"><span class="title">TYPOGRAPHY</span></a></li>
<li id="menu-item-28"><a href="/"><span class="title">QUOTES</span></a></li>-->
